#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.math-slot {
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  padding: 0 2px;
}

.math-slot:hover {
  background-color: rgba(59, 130, 246, 0.2);
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.math-slot-empty,
.math-slot-preview {
  border: 2px dashed #64748b !important;
  
  background-color: #e0f2fe !important;
  
  display: inline-block !important;
  
  border-radius: 4px;
  
  min-width: 1.5em;
  min-height: 1.5em;
  
  text-align: center;
  margin: 0 2px;
  vertical-align: middle;

  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.math-slot-empty:hover {
    border-color: #2563eb !important;
    background-color: #bfdbfe !important;
}
